body {
  height: 100%
}

body {
  background: #fcf0ec;
}

div#img {
  display: flex;
  flex-direction: center;
  height: 400px;
  width: 300px;
  cursor: pointer;
  position: absolute;
  left: 80px;
  top: 180px;
}
button{
  height: 50px;
  width: 100px;
  position: absolute;
  left: 600px;
  bottom: 40px;
  background: #fcf0ec;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  border: solid black;
  -moz-box-shadow:    3px 3px 5px 6px #ccc;
-webkit-box-shadow: 3px 3px 5px 6px #ccc;
box-shadow:         3px 3px 5px 6px #ccc;
}
