body {
  height: 100%;
}

body {
  background: #fcf0ec;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15%;
}#img{
  display: flex;
  justify-content: center;
  cursor: pointer;
}

/* div#img {

  height: 400px;
  width: 300px;

} */
button{
  height: 50px;
  width: 100px;
  background: #fcf0ec;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  border: solid black;
  -moz-box-shadow:    3px 3px 5px 6px #ccc;
-webkit-box-shadow: 3px 3px 5px 6px #ccc;
box-shadow:         3px 3px 5px 6px #ccc;

}
